<h1> Blog Title: <%= raw @blog.title %> </h1>

<h2> Post count: <%= @blog.posts.count %> </h2>
 
<h3>Posts...</h3>
<%= render @blog.posts %>
<br><br>

<h3>Write a new post!</h3>
<%= render 'posts/form' %>
<br>
<%= link_to "Create another blog", {:action =>'new', :controller => 'blogs'} %>
<br>
<%=link_to "Go to blog index", {:action =>'index', :controller => 'blogs'} %>
<br>
<%=link_to "Go to home page", {:controller => 'home'} %>
