<%= raw @blog.title %>
<br>
<%= @blog.posts.count %> <h2> Post count </h2>
<%= render @blog.posts %>
<br>
<%= render 'posts/form' %>
<br>
<%= link_to "Create another blog", {:action =>'new', :controller => 'blogs'} %>
<br>
<%=link_to "Go to blog index", {:action =>'index', :controller => 'blogs'} %>
<br>
<%=link_to "Go to home page", {:controller => 'home'} %>
<%= link_to "Add post", new_post_path(blog_id: @blog.id) %>
