<%= raw @post.title %>
<br>
<br>
<%= raw @post.body %>
<br>
<%= @post.comments.count %><h2> Comment count </h2>
<%= render @post.comments %>
<br>
<%= render 'comments/form' %>
<br>
<%=link_to "Create another post", {:action =>'new', :controller => 'posts'} %>
<br>
<%=link_to "Go to index", {:action =>'index', :controller => 'posts'} %>
<br>
<%=link_to "Go to home page", {:controller => 'home'} %>
