<% @blog.each do |blog| %>
<h2><%= blog.title %></h2>
<h6><%= blog.created_at.strftime('%b %d, %Y') %></h6>
<%= raw(blog.body).truncate(358) %>
<%= link_to "Read more...", blog_path(blog) %>
<%= link_to "Delete post", blog_path(blog),
method: :delete, data: {confirm:"Delete blog?"} %>
<%= link_to "Go to home page", {:controller => 'home'} %>
<
<br>
<% end %>
